#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.cor-1 {
	background-color: plum;
}

.meuEstilo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
	color: beige;
	font-weight: 600;
	border-radius: 25px;
}

.meuEstilo2 {
	height: 200px;
	width: 200px;
	background-color: blueviolet;
	margin-top: 10px;
}

.meuEstilo3 {
	height: 300px;
	width: 200px;
	margin-top: 10px;
	background-color: rgb(160, 221, 221);
	border-radius: 25px;
}

.classe1 {
	height: 75px;
	width: 75px;
	background-color: chartreuse;
}

.classe2 {
	width: 200px !important;
}

.barra {
	width: 300px;
	height: 20px;
	border-radius: 10px;
	background-color: #ccc;
	margin-top: 10px;
}

.barra div {
	height: 100%;
	border-radius: 10px;
	background-color: #222;
}	